; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 10/27/2021.
; begin auth token
//tfs.tilde.lv:8080/tfs/DefaultCollection/_packaging/Local-npm/npm/registry/:_authToken=${NPM_TOKEN}
//tfs.tilde.lv:8080/tfs/DefaultCollection/_packaging/Local-npm/npm/:_authToken=${NPM_TOKEN}
; end auth token
registry=http://tfs.tilde.lv:8080/tfs/DefaultCollection/_packaging/Local-npm/npm/registry/
always-auth=true
