<div class="disclaimer-dialog" role="dialog" aria-live="polite">
  <div fxLayout="row" class="disclaimer-wrapper">
    <div fxFlex>
      <p>{{"WEBTRANSLATE_DISCLAIMER.DISCLAIMER" | translate}}
        <a *ngIf="!showText" (click)="showFullText()">
          <strong>{{"WEBTRANSLATE_DISCLAIMER.MORE" | translate}}</strong>
        </a>
      </p>
      <p *ngIf="showText">{{"WEBTRANSLATE_DISCLAIMER.DISCLAIMER2" | translate}}</p>
    </div>
    <div fxLayoutAlign="end ">
      <button mat-icon-button color="warn" [attr.aria-label]="'WEBTRANSLATE_DISCLAIMER.CLOSE_LABEL' | translate" (click)="close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</div>
