@use "@angular/material" as mat;

@import "colors";
@import "theme";

html,
body {
  height: 100%;
  background-color: $body-background;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

footer {
  height: 75px;
  background-color: $footer-background;
}

header {
  height: 75px;
}

.page-wrapper {
  &:not(.page-wrapper-mobile) {
    $side-padding: 3em;

    main {
      padding: 0 $side-padding $side-padding $side-padding;
    }

    header,
    footer {
      padding: 0 $side-padding;
    }
  }
}

a {
  font-weight: 500;
  color: $primary-color !important;
  text-decoration: none;

  &:hover,
  &:visited,
  &:active {
    text-decoration: none;
  }

  &.light-link {
    color: white !important;
  }
}

.menu-item {
  font-size: 18px!important;
}

html body {
  mat-icon[color="accent"] svg {
    fill: $primary-color;
  }

  .auto-vertical-overflow {
    overflow-y: auto !important;
  }
}

mat-dialog-container {
  position: relative;
}

.full-width {
  width: 100%;
}

.rule-page {
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
  max-width: 150ch;

  ol.h2-list {
    > li::marker {
      font-size: 20px !important;
    }

    ol {
      padding-left: 0;
    }
  }

  h2 {
    margin: 20px 0 10px 0;
  }

  p {
    margin-bottom: 0;
  }
}
