@use "~@angular/material" as mat;

@import "~tld-translate/src/styles/mixin/tld-translate-accent-colors";
@import "~tld-translate/src/styles/mixin/tld-translate-placeholders";
@import "variables/colors";
@import "theme";

html,
body {
  @include tld-translate-accent-colors($primary-color);
  @include tld-translate-placeholders($description-text);
  height: 100%;
  background-color: $body-background;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

footer {
  height: 75px;
  background-color: $footer-background;
}

header {
  height: 75px;
}

.page-wrapper {
  &:not(.page-wrapper-mobile) {
    $side-padding: 3em;

    main {
      padding: 0 $side-padding $side-padding $side-padding;
    }

    header,
    footer {
      padding: 0 $side-padding;
    }
  }
}

a {
  font-weight: 500;
  color: $primary-color !important;
  text-decoration: none;

  &:hover,
  &:visited,
  &:active {
    text-decoration: none;
  }

  &.light-link {
    color: white !important;
  }
}

.menu-item {
  font-size: 18px;
}
html body {
  tld-translate-switcher,
  tld-translate-switcher button,
  .translateWebsite .cancel-button,
  .translateWebsite .restore-button,
  .translateWebsite .translate-button {
    font-size: 18px !important;
  }

  mat-icon[color="accent"] svg {
    fill: $primary-color;
  }

  .tld-translate-target-wrapper.empty-target-wrapper,
  .tld-translate-switcher-wrapper,
  .source-container,
  .tld-translate-body-wrapper,
  .translateWebsite {
    background-color: white !important;
  }

  @media screen and (max-width: 600px) {
    .translate-container-header #website-frame-container {
      top: 8.5em;
    }
    .action-btn-wrapper {
      height: 36px;
      margin: 0 100px 0 25px;
    }
  }

  .upload-button,
  .translate-button,
  .translateWebsite .cancel-button,
  .translateWebsite .restore-button {
    border-radius: 30px !important;
  }

  .domain-title {
    font-weight: normal !important;
  }

  .tld-translate-domain-selection {
    padding-left: 1em;
    border-left: 2px solid $border-color;
  }

  .tld-translate-wrapper {
    border-radius: 10px !important;
  }

  tld-domain-list button {
    color: $primary-color !important;
  }
}
