<section fxLayout="column" class="rule-page">
    <h1 [innerHTML]="'ABOUT_PROJECT.TITLE' | translate"></h1>
    <p [innerHTML]="'ABOUT_PROJECT.TITLE_DESCRIPTION_1' | translate"></p>
    <p [innerHTML]="'ABOUT_PROJECT.TITLE_DESCRIPTION_2' | translate"></p>

    <section>
        <h2 [innerHTML]="'ABOUT_PROJECT.1.TITLE' | translate"></h2>
        <p [innerHTML]="'ABOUT_PROJECT.1.1' | translate"></p>
        <p [innerHTML]="'ABOUT_PROJECT.1.2' | translate"></p>
    </section>

    <section>
        <h2 [innerHTML]="'ABOUT_PROJECT.2.TITLE' | translate"></h2>
        <p [innerHTML]="'ABOUT_PROJECT.2.1' | translate"></p>
    </section>

    <section>
        <h2 [innerHTML]="'ABOUT_PROJECT.3.TITLE' | translate"></h2>
        <p [innerHTML]="'ABOUT_PROJECT.3.1' | translate"></p>
        <br/>
        <p [innerHTML]="'ABOUT_PROJECT.3.2' | translate"></p>
        <p [innerHTML]="'ABOUT_PROJECT.3.3' | translate"></p>
    </section>

    <section>
        <h2 [innerHTML]="'ABOUT_PROJECT.4.TITLE' | translate"></h2>
        <p [innerHTML]="'ABOUT_PROJECT.4.1' | translate"></p>
        <p [innerHTML]="'ABOUT_PROJECT.4.2' | translate"></p>
        <p [innerHTML]="'ABOUT_PROJECT.4.3' | translate"></p>
    </section>

    <section>
        <h2 [innerHTML]="'ABOUT_PROJECT.5.TITLE' | translate"></h2>
        <p [innerHTML]="'ABOUT_PROJECT.5.1' | translate"></p>
    </section>
</section>