$body-background: #efeff1;
$border-color: #dddddd;
$footer-background: #383c4d;
$white-text-color: white;
$description-text: #626f7f;
$disclaimer-border: #383c4d;
$disclaimer-background: #dbdfeb;

//from tld-translate
$primary-color: #31599f;
$accent: #31599f;
$background: #efeff1;
$target-background: #efeff1;
$empty-target-background: #efeff1;
$border-color: #cbd2d9;
$button-border-color: rgba(0, 0, 0, 0.12);
$incorrect-phrase-color: red;
