<section fxLayout="column" class="full-size rule-page">
    <h1 [innerHTML]="'DATA_PROTECTION.TITLE' | translate"></h1>
    <p [innerHTML]="'DATA_PROTECTION.TITLE_DESCRIPTION_1' | translate"></p>
    <br />
    <p [innerHTML]="'DATA_PROTECTION.TITLE_DESCRIPTION_2' | translate"></p>
    <p [innerHTML]="'DATA_PROTECTION.TITLE_DESCRIPTION_3' | translate"></p>

    <ol class="h2-list">
        <li>
            <h2 [innerHTML]="'DATA_PROTECTION.1.TITLE' | translate"></h2>
            <ol type="a">
                <li [innerHTML]="'DATA_PROTECTION.1.A' | translate"></li>
                <li [innerHTML]="'DATA_PROTECTION.1.B' | translate"></li>
                <li [innerHTML]="'DATA_PROTECTION.1.C' | translate"></li>
                <li [innerHTML]="'DATA_PROTECTION.1.D' | translate"></li>
                <li [innerHTML]="'DATA_PROTECTION.1.E' | translate"></li>
                <li [innerHTML]="'DATA_PROTECTION.1.F' | translate"></li>
                <li [innerHTML]="'DATA_PROTECTION.1.G' | translate"></li>
                <li [innerHTML]="'DATA_PROTECTION.1.H' | translate"></li>
                <li [innerHTML]="'DATA_PROTECTION.1.I' | translate"></li>
            </ol>
        </li>
        <li>
            <h2 [innerHTML]="'DATA_PROTECTION.2.TITLE' | translate"></h2>
            <ol type="a">
                <li [innerHTML]="'DATA_PROTECTION.2.A' | translate"></li>
                <li [innerHTML]="'DATA_PROTECTION.2.B' | translate"></li>
                <li [innerHTML]="'DATA_PROTECTION.2.C' | translate"></li>
                <li [innerHTML]="'DATA_PROTECTION.2.D' | translate"></li>
                <li [innerHTML]="'DATA_PROTECTION.2.E' | translate"></li>
                <li [innerHTML]="'DATA_PROTECTION.2.F' | translate"></li>
                <li [innerHTML]="'DATA_PROTECTION.2.G' | translate"></li>
                <li [innerHTML]="'DATA_PROTECTION.2.H' | translate"></li>
            </ol>
        </li>
        <li>
            <h2 [innerHTML]="'DATA_PROTECTION.3.TITLE' | translate"></h2>
            <ol type="a">
                <li [innerHTML]="'DATA_PROTECTION.3.A' | translate"></li>
                <li [innerHTML]="'DATA_PROTECTION.3.B' | translate"></li>
                <li [innerHTML]="'DATA_PROTECTION.3.C' | translate"></li>
                <li [innerHTML]="'DATA_PROTECTION.3.D' | translate"></li>
                <li [innerHTML]="'DATA_PROTECTION.3.E' | translate"></li>
                <li [innerHTML]="'DATA_PROTECTION.3.F' | translate"></li>
                <li [innerHTML]="'DATA_PROTECTION.3.G' | translate"></li>
                <li [innerHTML]="'DATA_PROTECTION.3.H' | translate"></li>
            </ol>
        </li>
    </ol>

    <br />
    <p [innerHTML]="'DATA_PROTECTION.AGREEMENT_INFO' | translate"></p>
    <br />
    <p [innerHTML]="'DATA_PROTECTION.CONTACTS_LABEL' | translate"></p>
    <br />
    <p [innerHTML]="'DATA_PROTECTION.INSTITUTE_NAME' | translate"></p>
    <p [innerHTML]="'DATA_PROTECTION.STREET' | translate"></p>
    <p [innerHTML]="'DATA_PROTECTION.CITY' | translate"></p>
    <p [innerHTML]="'DATA_PROTECTION.EMAIL' | translate"></p>

</section>